*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#nav{
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(250,251,255);
  box-shadow: 2px 2px 5px gray;
}
#nav>a{
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-style: italic;
  font-family: Poppins,sans-serif;
  display: inline;
  position: relative;
}
#nav>a::before{
  background-color: deeppink;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  scale: 0 1;
  bottom: -30px;
  height: 4px;
  width: 100%;
  border-radius: 3px;
  transition: scale 0.25s;
  transform-origin: left right;
}
#nav>a:hover::before{
  scale: 1;
  transform-origin:  left right;
}
#nav>a:hover{
  color: deeppink;
}
#mainuser{
  height: 150vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#mainuser>.form{
  height: 130vh;
  width: 50%;
  box-shadow: 2px 2px 15px black;
  background-color:rgb(250,251,255) ;
  border-radius: 10px;
}
#mainuser>.form>.header{
  background-color: cornflowerblue;
  font-weight: bold;
  font-size: 30px;
  padding: 20px 50px;
  text-align: center;
  color: white;
  border-bottom: 2px solid black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
#mainuser>.form>.form_group{
  padding-bottom: 20px;
  margin-bottom: 10px;
  position: relative;

}
#mainuser>.form>.form_group>label{
  display: block;
  margin-bottom: 5px;
  padding:10px 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#mainuser>.form>.form_group>input{
  border: 2px solid #f0f0f0;
  display: block;
  border-radius: 4px;
  font-size: 1rem;
  width: 90%;
  height: 40px;
  margin-left: 10px;
}
#mainuser>.form>.form_group>input:focus{
  outline: none;
}
#mainuser>.form>#btn{
  width: 70%;
  height: 50px;
  background-color: crimson;
  border-radius: 60px 120px;
  margin:10px 110px ;
  border: none;
  color: #f0f0f0;
  font-size: 25px;
  transition: all .5s;
  box-shadow: 1px 1px 10px black;
}
#mainuser>.form>#btn:hover{
  background-color: rgb(250, 110, 138);
}
#users{
  min-height: 100vh;
  display: flex;
  justify-content: start;
  gap: 40px;
  padding: 40px 15px;
  flex-wrap: wrap;
}
#fetchusers{
  height: 65vh;
  width: 30%;
  background-color: rgb(250,251,255);
  box-shadow: 1px 1px 10px black;
  border-radius: 10px;
}
#fetchusers>.header1{
  height: 60px;
  background-color: lightseagreen;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 2px solid black;
}
#fetchusers>#usersdata{
  padding: 20px 20px;
}
#fetchusers>#usersdata tr,td{
  padding: 10px;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#fetchusers>#buttons>a{
  background-color:cornflowerblue;
  border: none;
  outline: none;
  color: #fff;
  padding: 10px 30px;
  font-size: 1rem;
  border-radius: 40px 80px;
  cursor: pointer;
  transition: all .5s;
  margin: 20px 30px;
  text-decoration: none;
  box-shadow: 1px 1px 15px black;
}
#fetchusers>#buttons>#delete{
  background-color: cornflowerblue;
  border: none;
  height: 40px;
  width: 150px;
  color: #fff;
  font-size: 1rem;
  transition: all .5s;
  border-radius: 40px 80px;
  margin: 20px 65px;
  box-shadow: 1px 1px 15px black;
}
#fetchusers>#buttons>a:hover{
  background-color: green;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#fetchusers>#buttons>#delete:hover{
  background-color: red;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
